body {
  font-family: Ubuntu, sans-serif;
  background-color: black;
}


canvas {
  border: 1px solid grey;
  font-family: Ubuntu, sans-serif;
  width: 480;
  height: 800;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  touch-action: none;
  background-color: black;
  color: white;
}
